<section class="info">

  <md-card class="my-card">

    <md-list>
      <h3 md-subheader>About me</h3>

      <div class="about-me">

        <md-card-header>
          <div md-card-avatar class="my-header-image"></div>
          <div class="my-header-title">
            <div class="my-title">Paweł Idziak</div>
            <div class="my-subtitle">Student</div>
          </div>
        </md-card-header>

        <md-card-content>
          <p>
            I'm studying at Wroclaw University of Science and Technology. I'm interested in web technology and I am
            still
            developing myself in this direction.
          </p>
        </md-card-content>

      </div>

      <md-divider></md-divider>

      <h3 md-subheader>Contact</h3>

      <div class="contact">

        <div class="my-header-title">
          <span class="my-title">Email: </span>
          <span class="my-subtitle">pa.idziak@gmail.com</span>
        </div>

        <div class="socials">
          <a mdTooltip="GitHub" class="icon icon-github" href="https://github.com/pawelidziak" target="_blank"></a>
          <a mdTooltip="LinkedIn" class="icon icon-linkedin" href="https://www.linkedin.com/in/pawel-idziak/" target="_blank"></a>
        </div>

      </div>
    </md-list>

  </md-card>
</section>
