<section class="sidebar-section">
  <nav class="sidebar" [ngClass]="{'opened': !sidebarSmall, 'closed': sidebarSmall}"
       id="#my-sidebar">


      <i class=" toggle-button material-icons" [ngClass]="{'hide-sidebar': !sidebarSmall, 'show-sidebar': sidebarSmall}"
         (click)="toggleSidebar()">
        keyboard_arrow_right
      </i>

    <ul class="my-nav">

      <li class="li-item" [routerLink]="['/dashboard']" [routerLinkActive]="['active']">

          <i class="icon material-icons">dashboard</i>
          <span class="text" [style.opacity]="sidebarSmall ? '0' : '1'"
                [style.visibility]="sidebarSmall ? 'hidden' : 'visible'">Dashboard</span>

      </li>

      <li class="li-item" [routerLink]="['/info']" [routerLinkActive]="['active']">

          <i class="icon material-icons">info</i>
          <span class="text" [style.opacity]="sidebarSmall ? '0' : '1'"
                [style.visibility]="sidebarSmall ? 'hidden' : 'visible'">Info</span>
      </li>
      <!--<li class="nav-item">-->
      <!--<a class="nav-link">-->
      <!--<i class="icon material-icons">settings</i>-->
      <!--<span class="text" [style.opacity]="sidebarSmall ? '0' : '1'"-->
      <!--[style.visibility]="sidebarSmall ? 'hidden' : 'visible'">Settings</span>-->
      <!--</a>-->
      <!--</li>-->

      <!--<li class="nav-item">-->
      <!--<a class="nav-link">-->
      <!--<i class="icon material-icons">info</i>-->
      <!--<span class="text" [style.opacity]="sidebarSmall ? '0' : '1'"-->
      <!--[style.visibility]="sidebarSmall ? 'hidden' : 'visible'">Info</span>-->

      <!--</a>-->
      <!--</li>-->

    </ul>

    <div class="copyright ">
      <span class="author" [style.opacity]="sidebarSmall ? '1' : '0'"
            [style.visibility]="sidebarSmall ? 'visible' : 'hidden'">PI</span>
      <span class="author-full" [style.opacity]="sidebarSmall ? '0' : '1'"
            [style.visibility]="sidebarSmall ? 'hidden' : 'visible'">Paweł Idziak</span>

    </div>
  </nav>

</section>
