<section class="dashboard">

    <div class="row">

      <div class="col-12 col-md-4">
        <div class="column-title">
          Todo
        </div>
        <div class="tasks-container" dnd-sortable-container [dropZones]="['boxers-zone']" [sortableData]="listBoxers">

          <md-card *ngFor="let item of listBoxers; let i = index" dnd-sortable [sortableIndex]="i" >
            <md-card-header>
              <div md-card-avatar class="example-header-image"></div>
              <md-card-title>{{item.title}}</md-card-title>
              <md-card-subtitle>{{item.description}}</md-card-subtitle>
            </md-card-header>
            <md-card-footer>
              {{item.deadline | date:"shortDate"}}
            </md-card-footer>
          </md-card>

          <div *ngIf="listBoxers.length === 0" class="no-tasks">No tasks here</div>

        </div>
      </div>

      <div class="col-12 col-md-4">
        <div class="column-title">
          In progress
        </div>
        <div class="tasks-container" dnd-sortable-container [dropZones]="['boxers-zone']" [sortableData]="listTeamOne">

          <md-card *ngFor="let item of listTeamOne; let i = index" dnd-sortable [sortableIndex]="i" >
            <md-card-header>
              <div md-card-avatar class="example-header-image"></div>
              <md-card-title>{{item.title}}</md-card-title>
              <md-card-subtitle>{{item.description}}</md-card-subtitle>
            </md-card-header>
            <md-card-footer>
              {{item.deadline | date:"shortDate"}}
            </md-card-footer>
          </md-card>

          <div *ngIf="listTeamOne.length === 0" class="no-tasks">No tasks here</div>
        </div>
      </div>

      <div class="col-12 col-md-4">
        <div class="column-title">
          Done
        </div>
        <div class="tasks-container" dnd-sortable-container [dropZones]="['boxers-zone']" [sortableData]="listTeamTwo">
          <md-card *ngFor="let item of listTeamTwo; let i = index" dnd-sortable [sortableIndex]="i" >
            <md-card-header>
              <div md-card-avatar class="example-header-image"></div>
              <md-card-title>{{item.title}}</md-card-title>
              <md-card-subtitle>{{item.description}}</md-card-subtitle>
            </md-card-header>
            <md-card-footer>
              {{item.deadline | date:"shortDate"}}
            </md-card-footer>
          </md-card>

          <div *ngIf="listTeamTwo.length === 0" class="no-tasks">No tasks here</div>
        </div>
      </div>

    </div>

</section>
