<section class="dashboard">

  <div class="dashboard-title">
    <p>Manage your tasks quickly and transparently</p>
  </div>

  <div class="navigation-row">
    <div class="item">
      <button mdTooltip="Add task" md-mini-fab class="add-task-button" (click)="openAddTaskDialog()">
        <i class="material-icons">add</i>
      </button>
    </div>
    <div class="item">
      <button mdTooltip="Save" md-mini-fab class="save-tasks-button" (click)="openSaveSnackBar()">
        <i class="material-icons">save</i>
      </button>
    </div>
    <div class="item">
      <button mdTooltip="Remove all" md-mini-fab [mdMenuTriggerFor]="remove" class="remove-tasks-button" >
        <i class="material-icons">delete_forever</i>
      </button>
      <md-menu #remove="mdMenu">
        <button md-menu-item (click)="openRemoveSnackBar()">Yes</button>
        <button md-menu-item>No</button>
      </md-menu>
    </div>
  </div>

  <div class="lists-row">
    <!-- To do -->
    <div class="column" dnd-sortable-container [dropZones]="['all-tasks']" [sortableData]="todoList">
      <div class="column-title">
        Todo
      </div>
      <div *ngIf="todoList.length > 0">
        <app-task *ngFor="let item of todoList; let i = index" [item]="item" [sortBy]="i" (click)="openEditTaskDialog(item, todoList)"></app-task>
      </div>
      <div *ngIf="todoList.length === 0" class="no-tasks">No tasks here</div>

    </div> <!-- /To do -->

    <!-- In progress-->
    <div class="column" dnd-sortable-container [dropZones]="['all-tasks']" [sortableData]="inProgressList">
      <div class="column-title">
        In progress
      </div>
      <div *ngIf="inProgressList.length > 0">
        <app-task *ngFor="let item of inProgressList; let i = index" [item]="item" [sortBy]="i" (click)="openEditTaskDialog(item, inProgressList)"></app-task>
      </div>
      <div *ngIf="inProgressList.length === 0" class="no-tasks">No tasks here</div>

    </div> <!-- /In progress -->

    <!-- Done -->
    <div class="column" dnd-sortable-container [dropZones]="['all-tasks']" [sortableData]="doneList">
      <div class="column-title">
        Done
      </div>
      <div *ngIf="doneList.length > 0">
        <app-task *ngFor="let item of doneList; let i = index" [item]="item" [sortBy]="i" (click)="openEditTaskDialog(item, doneList)"></app-task>
      </div>
      <div *ngIf="doneList.length === 0" class="no-tasks">No tasks here</div>

    </div> <!-- /Done -->
  </div>

</section>
